<div id="page">
      <div id="sidebar">
    <img id="logo" src="~/images/logo.gif" width="171" height="239" alt="">
    <h2>FLAVOR OF THE DAY</h2>
    <ul>
        <li>
            <img src="~/images/strawberry-delight.gif" width="165" height="165" alt="">
            <h3><a href="flavors.html">Strawberry Delight</a></h3>
        </li>
    </ul>
    <h2>POPULAR FLAVORS</h2>
    <ul>
        <li>
          <img src="~/images/tropical-mango.gif" width="165" height="165" alt="">
            <h3><a href="flavors.html">Tropical Mango</a></h3>
        </li>
        <li>
            <img src="~/images/rich-chocolate.gif" width="165" height="165" alt="">
            <h3><a href="flavors.html">Rich Chocolate</a></h3>
        </li>
        <li>
            
                <img src="~/images/sour-rasberry.gif" width="165" height="165" alt="">
            
            <h3><a href="flavors.html">Sour Rasberry</a></h3>
        </li>
    </ul>
</div>
</div>

