@model WebApplication1.Models.AdminDetails

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <title>About - Ice Cream Website Template</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="../../Content/ie6.css" rel="stylesheet" />
    <link href="../../Content/ie7.css" rel="stylesheet" />
    <link href="../../Content/style.css" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <div id="content">
            <!-- start of class content -->
            <div class="content">
                <!-- start inner page content box background -->
                <div class="header">
                    <div class="footer">
                        <div class="body">
                            <form action="PostDetails" method="post">
                                <!-- start of section -->
                                <div class="section">

                                    <h2>Hello,</h2>
                                    <h2>If you have access Permissions you can log in and<br /> change, add or delete ice cream data.</h2>

                                    <!-- start of delivery -->

                                    <div class="delivery">
                                        @*<a href="#"><img src="~/images/strawberry-ice-cream.jpg" width="648" height="312" alt=""></a>*@
                                        <br /><br />
                                        <table>
                                            <tr><b>Login:</b></tr>
                                            <tr>
                                                <td>
                                                    <label for="Login">
                                                        <span><b>User name: </b></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <input type="text" name="UserName" id="UserName" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="Login">
                                                        <span><b>Password: </b></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <input type="text" name="Password" id="Password" value="">
                                                </td>
                                            </tr>

                                        </table>
                                        <br />
                                        <div id="connect2">
                                            <input type="submit" value="Log In" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- end inner page content box background -->
                </div>
                <!-- end of class content -->
            </div>
            <!-- end of ID content-->
        </div>
    </div>
</body>
</html>



